* {
    box-sizing: border-box;
}

.Header {
    margin-top: 0;
    /* padding-bottom: 2rem; */
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    width: device-width;
    background-color: #003B6F;
    color: white;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.light {
    width: 3rem;
    height: 4rem;
    display: flex;
    align-items: center;
    width: device-width;
    
    background-color:antiquewhite;
    justify-content: center;
    
    
    
}
.light:hover {
 filter: drop-shadow( 5px 0 40px currentcolor
  );
  
}