.Doctor-page{
    display: flex ;
    justify-content: space-between;
}

img {
    margin-top: 1rem;
    height: inherit;
    min-width: 345px;
    max-width: 345px;
    border: 10px inset #d3d3d3;
}

.Doctor-Profile {
    margin-top: 1rem;
     border: 10px inset #d3d3d3;
     background-color: #ffffff;
     max-width: 345px;
     min-width: 345px;
     height: inherit;
}



.Doctor-bio {
    margin-top: 1rem;
     border: 10px inset #2b55b6;
     background-color: #3548d8;
     
     height: inherit;
}