.Doctor-page{
    display: flex;
    justify-content: space-between;
    background-color: #003B6F;
    margin-left: 1rem;
    margin-right: 1rem;
   
}

.Doctor-Profile {
    
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
     border: 10px inset #003B6F;
     background-color: #f5f0e2;
     min-width: 345px;
     flex: 1 1 auto;
     align-items: left;
}

img {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 2rem;
    min-width: 345px;
    max-width: 345px;
    
    border: 10px inset #003B6F;
}

ul {
  list-style-type: none;
}

.Doctor-Profile-Info {
  padding-right: 2rem;
}

.Doctor-Profile-Info > ul {
    padding: rem;
    margin: 0;
    list-style-type: none;
    align-items: left;
    list-style: none;
    display: flex;
    min-width:fill-content;
    flex-grow: 1;
    flex: 1 1 auto;
    /* gap: ; */
    color: white;
}

.Doctor-Profile-Info > li {
   
    align-items: left;
    padding: 4px;
    border: 3px solid rgb(122, 121, 121);
    color: #bb892b;
    text-decoration: none;

}

.Regenerate {
  flex-grow: 1;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 4px solid transparent;
  padding: 0.8em 1.8em;
  font-size: 1em;
  font-weight: 500;
  width: 80%;
  font-family: inherit;
  background-color: #744711;
  cursor: pointer;
  transition: border-color 0.25s;
}

@keyframes regen-glow {
  0%   {background-color:#ebc358;
        filter: drop-shadow( 0 0 10px currentcolor
  );}
  25%  {background-color:#ebdb9c; 
        filter: drop-shadow( 0 0 80px currentcolor
  );}
  50%  {background-color:rgb(209, 172, 28);
        filter: drop-shadow( 0 0 60px currentcolor
  ); }
  75%  {background-color:rgb(245, 218, 172); 
        filter: drop-shadow( 0 0 80px currentcolor
  );}
  100% {background-color:rgb(211, 186, 75);
        filter: drop-shadow( 0 0 20px currentcolor
  );}
}


.Regenerate:hover {
  filter: drop-shadow( 80 0 80px currentcolor
  );
  animation-name: regen-glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
 
  background-color:#e8a719;
  font-weight: 550;
  padding: 0.8em 1.8em;

}

.Doctor-Profile-Info.DoctorNumber {
font-size:200px;
}



.Doctor-bio {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    color:#dfd9cf;
     border: 10px inset #2b55b6;
     background-color: #003B6F;
     display: flex;
     height: inherit;
}





.grayscale {
  filter: grayscale(100%);
}


/* .Regenerate:focus,.Regenerate:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
} */
 
@media (max-width: 768px) {
      body { font-size: 14px; }
      .Regenerate { width: 80%; float: none; }
      .Doctor-Profile {width: 100%; float: none;}
      .sidebar { display: none; }
    }

@media (max-width: 820px) {
      body { font-size: 14px; display: flex;}
      .Regenerate { width: 80%; float: none; }
      .Doctor-Profile {width: 100%; float: none;}
      .sidebar { display: none; }
    }